/* Root Variable */
:root {
    --primary: #ffd700;
    --primary-shade-1: #4CAF50;
    --primary-shade-2: #3e8e41;
    --secondary: #fff;
    --secondary-shade-1: #f7f7f7;
    --secondary-shade-2: #ddd;
    --secondary-shade-3: #ccc;
  }

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* hotel details */
.hotel-details, .rating-system {
    background-color: var(--secondary-shade-1);
    padding: 20px;
    border: 1px solid var(--secondary-shade-2);
    border-radius: 10px;
    margin-bottom: 20px;
  }

.hotel-details__title , .feedback-form__title{
    margin-top: 0;
}

/* rating */
.rating {
    font-size: 24px;
}

.rating__star {
    cursor: pointer;
    color: var(--secondary-shade-3);
}

.rating__star--active,
.rating__star:hover {
    color: var(--primary)
}


.rating-system__interface {
    font-size: 24px;
    margin-bottom: 10px;
}

/* feedback form */
.feedback-form {
    display: none;
    padding: 20px;
    border: 1px solid var(--secondary-shade-2);
    border-radius: 10px;
    margin-bottom: 20px;
}

.feedback-form__label {
    display: block;
    margin-bottom: 10px;
}

.feedback-form__input,
.feedback-form__textarea {
    min-width: 98%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid var(--secondary-shade-3)
}

/* feedback form submit button */
.feedback-form__submit {
    background-color: var(--primary-shade-1);
    color: var(--secondary);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.feedback-form__submit:hover {
    background-color: var(--primary-shade-2);
}

/* Responsive media query*/
@media (max-width: 768px) {
    .feedback-form__input,
    .feedback-form__textarea {
        min-width: 95%;
    }
}


@media (max-width: 480px) {
    .feedback-form__input,
    .feedback-form__textarea {
        min-width: 91%;
    }

    .swal2-popup{
        width: 90%;
    }
}

